<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="Pal2ToPal3File"
            xsi:type="File"
            fileName="${basedir}\Log\Pal3Commands.log"
            layout="${date:format=MM-dd HH\:mm\:ss}|${level}|${message}"
            archiveFileName="${basedir}\Log\archives\Pal3Commands-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
        />
    </targets>
    <rules>
        <logger name="Pal2ToPal3" minlevel="Debug" writeTo="Pal2ToPal3File"/>
    </rules>
</nlog>
