<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    internalLogFile="C:\PALLogs\NLog_Trace.txt"
    
  >
  <targets async="true">
    <target name="console" xsi:type="Console" layout="**${level}** ${longdate} ${logger}: ${message}" />

    <target name="network" xsi:type="Network" layout="Log4JXmlEventLayout" address="udp://localhost:7071">
      <layout xsi:type="Log4JXmlEventLayout"/>
    </target>

    <target name="networkEx" xsi:type="Network" layout="${exception:format=ToString}" address="udp://localhost:7071">
    </target>



    <target name="Tracefile" xsi:type="File"
      layout="${longdate} ${threadid} ${level:uppercase=true} ${logger} ${exception:format=tostring} ${message}"
      fileName="C:\PALLogs\PALdriver_Trace.txt"
      encoding="utf-8"
      archiveFileName="C:\PALLogs\PALdriver_Trace.{###}.txt"
      archiveAboveSize="2000000"
      archiveNumbering="Sequence"
      maxArchiveFiles="29"
      autoFlush="true"
      concurrentWrites="true"
      keepFileOpen="false"/>


    <target name="JobProcessor" xsi:type="File"
            layout="${longdate} ${threadid} ${level:uppercase=true} ${logger} ${exception:format=tostring} ${message}"
            fileName="C:\PALLogs\PALdriver_JobProcessor.txt"
            encoding="utf-8"
            archiveFileName="C:\PALLogs\PALdriver_JobProcessor.{###}.txt"
            archiveAboveSize="2000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="29"
            autoFlush="true"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <target name="DirectApi" xsi:type="File"
            layout="${longdate} ${threadid} ${level:uppercase=true} ${logger} ${exception:format=tostring} ${message}"
            fileName="C:\PALLogs\PALdriver_DirectApi.txt"
            encoding="utf-8"
            archiveFileName="C:\PALLogs\PALdriver_DirectApi.{###}.txt"
            archiveAboveSize="2000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="29"
            autoFlush="true"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <target name="Eventing" xsi:type="File"
            layout="${longdate} ${threadid} ${level:uppercase=true} ${logger} ${exception:format=tostring} ${message}"
            fileName="C:\PALLogs\PALdriver_Eventing.txt"
            encoding="utf-8"
            archiveFileName="C:\PALLogs\PALdriver_Eventing.{###}.txt"
            archiveAboveSize="2000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="29"
            autoFlush="true"
            concurrentWrites="true"
            keepFileOpen="false"/>

    
  </targets>
  <rules>

    <logger name="Ctc.Palplus.Integration.Driver.Implementation.Scheduler.JobProcessor" minlevel="Trace" writeTo="JobProcessor" />
    <logger name="Ctc.Palplus.Integration.Driver.Implementation.Scheduler.JobBatch" minlevel="Trace" writeTo="JobProcessor" />

    
    <logger name="Ctc.Palplus.Scheduler.Remote.RemoteSchedulerService" minlevel="Trace" writeTo="Eventing" />
    <logger name="Ctc.Palplus.PalPlusApi.Remote.PollingEventReceiver" minlevel="Trace" writeTo="Eventing" />    
    <logger name="Ctc.Palplus.PalPlusApi.Remote.TcpStatusSubscriptionReceiver" minlevel="Trace" writeTo="Eventing" />
    <logger name="Ctc.Palplus.PalPlusApi.Remote.RemotePalPlusMachineService" minlevel="Trace" writeTo="Eventing" />

    <!--<logger name="Ctc.Palplus.Scheduler.Remote.*" minlevel="Trace" writeTo="Scheduler" />
    <logger name="Ctc.Palplus.PalPlusApi.Remote.*" minlevel="Trace" writeTo="Scheduler" />-->
    

    <logger name="Ctc.Palplus.Integration.Driver.Implementation.Direct.*" minlevel="Trace" writeTo="DirectApi" />
  

    <logger name="*" minlevel="Trace" writeTo="Tracefile" />
    <logger name="*" minlevel="Trace" writeTo="network" />
    <logger name="*" minlevel="Trace" writeTo="networkEx" />

  </rules>
</nlog>
