<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TerminalSettings" type="Ctc.Palplus.LocalTerminal.Application.Main.TerminalConfigurationHandler, TerminalDesktop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>
  <userSettings>
    <Ctc.Palplus.LocalTerminal.Properties.Settings>
      <setting name="hostPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="showCopyright" serializeAs="String">
        <value>False</value>
      </setting>
    </Ctc.Palplus.LocalTerminal.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="HardwareSimulation" value="false" />
    <!-- 
    The type of Palbus. Possible values are
      Serial  ->  Palbus is connected via Serial Port. 
                  The value in PalbusAddress is a com port.
                  If PalbusAddress = * the system search over all com ports
      Eth     ->  Palbus is connected via Ethernet (ETH Palbus Master)
                  The value in PalbusAddress is a TAM Uri (e.g. tam://hostname)
                  If PalbusAddress = * the palbus SDK searches in the local subnet for a master       
    -->
    <add key="PalbusType" value="Serial" />
    <!--
    The address of the palbus. See PalbusType for more information
    -->
    <add key="PalbusAddress" value="COM1" />
    <add key="SharedSpaceMin" value="0" />
    <add key="SharedSpaceMax" value="0" />
    <add key="ExtensionLibraryValidation" value="true" />
    <add key="WebServiceValidation" value="false" />
    <add key="ActivityExecutionTracing" value="false" />
    <add key="DefaultUserRole" value="LaboratoryAssistant" />
    <add key="UserTimeout" value="60" />
    <add key="EnforceSmartSyringe" value="true" />
    <add key="StatusMessageDisplayTimeInSeconds" value="30" />
    <!--<add key="HttpProxy" value="http://proxy.zuehlke.com:8080"/>-->
    <add key="SchedulerMaximumScriptSize" value="2048000" />
    <add key="SchedulerMustRemainFreeDiskSpace" value="5000000" />
    <add key="SchedulerTimingInformationStoreMaxCount" value="100" />
    <add key="SchedulerExecutionLogStoreCount" value="20" />
    <add key="SchedulerLogExceptionDetails" value="false" />
    <add key="SchedulerMaxNumberOfConnectedCds" value="2" />
    <add key="ShowUnfinishedActivities" value="false" />
    <add key="DefaultSessionTimeout" value="300" />
    <!--Seconds-->
    <add key="MachineObjectStoreBackend" value="SqlCe" />
    <add key="MachineObjectStoreBackend_CF39" value="SqLite" />
  </appSettings>
  <TerminalSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <MainScreen updateInterval="1000" enableLocalScripts="true" menuChangeSyringeAvailable="false">
      <ModuleEntries>
        <!-- Liquid Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolLiquid" recursive="true" isTool="true" title="{ObjectName}   {Volume}; {ResxKey:NeedleLength}{NeedleLength}" description="{ResxKey:Gauge}{Gauge}; {ResxKey:PointStyle}{PointStyle}; {ResxKey:ScaleLength}{ScaleLength}; {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="Volume" />
            <ParameterEntry name="NeedleLength" />
            <ParameterEntry name="Gauge" />
            <ParameterEntry name="PointStyle" />
            <ParameterEntry name="ScaleLength" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- HS Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolGas" recursive="true" isTool="true" title="{ObjectName}   {Volume}; {ResxKey:NeedleLength}{NeedleLength}" description="{ResxKey:Gauge}{Gauge}; {ResxKey:PointStyle}{PointStyle}; {ResxKey:ScaleLength}{ScaleLength}; {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="Volume" />
            <ParameterEntry name="NeedleLength" />
            <ParameterEntry name="Gauge" />
            <ParameterEntry name="PointStyle" />
            <ParameterEntry name="ScaleLength" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- SPME Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ToolSPME" recursive="true" isTool="true" title="{ObjectName}   {ResxKey:PhaseLength}{PhaseLength}" description="{ResxKey:Gauge}{Gauge}; {DisplayLocation}; {FiberType}">
          <Parameters>
            <ParameterEntry name="PhaseLength" />
            <ParameterEntry name="Gauge" />
            <ParameterEntry name="DisplayLocation" />
            <ParameterEntry name="FiberType" />
          </Parameters>
        </ModuleEntry>
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ToolSPME2" recursive="true" isTool="true" title="{ObjectName}   {ResxKey:PhaseLength}{PhaseLength}" description="{ResxKey:Gauge}{Gauge}; {DisplayLocation}; {OuterPhase}">
          <Parameters>
            <ParameterEntry name="PhaseLength" />
            <ParameterEntry name="Gauge" />
            <ParameterEntry name="DisplayLocation" />
            <ParameterEntry name="OuterPhase" />
          </Parameters>
        </ModuleEntry>
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ToolSPMEArrow" recursive="true" isTool="true" title="{ObjectName}    {OuterPhase}" description="{ResxKey:NeedleOutDia}{NeedleOutDia}; {ResxKey:PhaseLength}{PhaseLength}; {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="PhaseLength" />
            <ParameterEntry name="NeedleOutDia" />
            <ParameterEntry name="OuterPhase" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Dilutor Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolDilutor" recursive="true" isTool="true" title="{ObjectName}   {Volume}; {ResxKey:NeedleLength}{NeedleLength}" description="{ResxKey:NeedleType}{NeedleType}; {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="NeedleLength" />
            <ParameterEntry name="NeedleType" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Itex Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolItex" recursive="true" isTool="true" title="{ObjectName}   {Volume}; {ResxKey:NeedleLength}{NeedleLength}" description="{ResxKey:Gauge}{Gauge}; {ResxKey:PointStyle}{PointStyle}; {ResxKey:ScaleLength}{ScaleLength}; {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="Volume" />
            <ParameterEntry name="Gauge" />
            <ParameterEntry name="NeedleLength" />
            <ParameterEntry name="PointStyle" />
            <ParameterEntry name="ScaleLength" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Pipette Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolPipette" recursive="true" isTool="true" title="{ObjectName}" description="{DisplayLocation}">
          <Parameters>
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Gripper Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IToolGripper" recursive="true" isTool="true" title="{ObjectName}" description="{DisplayLocation}">
          <Parameters>
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Generic Tools -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ToolGeneric" recursive="true" isTool="true" title="{ObjectName}   " description=" {DisplayLocation}">
          <Parameters>
            <ParameterEntry name="InstrumentLength" />
            <ParameterEntry name="DisplayLocation" />
          </Parameters>
        </ModuleEntry>
        <!-- Agitator -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/Agitator" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}; {ResxKey:StandbyTemperature}{HookKey:StandbyTemperature=StandbyTempControl,TemperatureSetpoint,StandbyTemperature,f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
            <ParameterEntry name="StandbyTemperature" />
            <ParameterEntry name="StandbyTempControl" />
            <ParameterEntry name="TemperatureSetpoint" />
          </Parameters>
        </ModuleEntry>
        <!-- Heatex Stirrer -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/HeatexStirrer" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}; {ResxKey:StandbyTemperature}{HookKey:StandbyTemperature=StandbyTempControl,TemperatureSetpoint,StandbyTemperature,f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
            <ParameterEntry name="StandbyTemperature" />
            <ParameterEntry name="StandbyTempControl" />
            <ParameterEntry name="TemperatureSetpoint" />
          </Parameters>
        </ModuleEntry>
        <!-- Centrifuge -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/ICentrifuge" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualSpeed}{ActualSpeed:f0}; {ResxKey:ActualGForce}{ActualGForce:f0}">
          <Parameters>
            <ParameterEntry name="ActualSpeed" />
            <ParameterEntry name="ActualGForce" />
          </Parameters>
        </ModuleEntry>
        <!-- Heatings -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/HeatModule" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}; {ResxKey:StandbyTemperature}{HookKey:StandbyTemperature=StandbyTempControl,TemperatureSetpoint,StandbyTemperature,f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
            <ParameterEntry name="StandbyTemperature" />
            <ParameterEntry name="StandbyTempControl" />
            <ParameterEntry name="TemperatureSetpoint" />
          </Parameters>
        </ModuleEntry>
        <!-- SPME Cond. Station -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/FiberConditioningStation" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}; {ResxKey:StandbyTemperature}{HookKey:StandbyTemperature=StandbyTempControl,TemperatureSetpoint,StandbyTemperature,f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
            <ParameterEntry name="StandbyTemperature" />
            <ParameterEntry name="StandbyTempControl" />
            <ParameterEntry name="TemperatureSetpoint" />
          </Parameters>
        </ModuleEntry>
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/SPMEArrowCond" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}; {ResxKey:StandbyTemperature}{HookKey:StandbyTemperature=StandbyTempControl,TemperatureSetpoint,StandbyTemperature,f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
            <ParameterEntry name="StandbyTemperature" />
            <ParameterEntry name="StandbyTempControl" />
            <ParameterEntry name="TemperatureSetpoint" />
          </Parameters>
        </ModuleEntry>
        <!-- Trayholder -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/TrayHolderRectangle" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:Slot1}{Slot1Config}; {ResxKey:Slot2}{Slot2Config}; {ResxKey:Slot3}{Slot3Config}">
          <Parameters>
            <ParameterEntry name="Slot1Config" />
            <ParameterEntry name="Slot2Config" />
            <ParameterEntry name="Slot3Config" />
          </Parameters>
        </ModuleEntry>
        <!-- Trayplate -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/TrayPlateRectangle" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:Slot1}{Slot1Config}; {ResxKey:Slot2}{Slot2Config}; {ResxKey:Slot3}{Slot3Config}">
          <Parameters>
            <ParameterEntry name="Slot1Config" />
            <ParameterEntry name="Slot2Config" />
            <ParameterEntry name="Slot3Config" />
          </Parameters>
        </ModuleEntry>
        <!-- Traycooler -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/TrayCoolerRectangle" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:Slot1}{Slot1Config}">
          <Parameters>
            <ParameterEntry name="Slot1Config" />
          </Parameters>
        </ModuleEntry>
        <!-- TrayContainer -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/TrayContainerCustom" recursive="false" isTool="false" title="{ObjectName}" description="{TrayContainerType}">
          <Parameters>
            <ParameterEntry name="TrayContainerType" />
          </Parameters>
        </ModuleEntry>
        <!-- Peltier Stack -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/ITemperatureControlStack" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ActualTemperature}{ActualTemperature:f1}">
          <Parameters>
            <ParameterEntry name="ActualTemperature" />
          </Parameters>
        </ModuleEntry>
        <!-- Stack 6DW -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/Stack6DW" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Stack 12MT -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/Stack12MT" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- DeCapper -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/DeCapper" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Valve Drive -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ValveDrive" recursive="false" isTool="false" title="{ObjectName}" description="{ValveTypeConfig}; {ValveType}">
          <Parameters>
            <ParameterEntry name="ValveType" />
            <ParameterEntry name="ValveTypeConfig" />
          </Parameters>
        </ModuleEntry>
        <!-- Dilutor  -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/Dilutor" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:SyringeType} {SyringeType};  {ResxKey:ValveType} {ValveType}">
          <Parameters>
            <ParameterEntry name="ValveType" />
            <ParameterEntry name="SyringeType" />
          </Parameters>
        </ModuleEntry>
        <!-- Barcode Reader -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/BarcodeReader" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- VortexMixer -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/VortexMixer" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Wash Stations -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IWashStation" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Large Volume Solvent Station -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/LargeVolumeSolventStation" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Waste Container -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/WasteContainer" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- ItemPosition -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/ItemPosition" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- MHE Module -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/MheModule" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Magnet-Adapter Station -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/MagnetAdapterStation20mL" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ClippableAdapter} {ClippableAdapter}">
          <Parameters>
            <ParameterEntry name="ClippableAdapter" />
          </Parameters>
        </ModuleEntry>
        <!-- Magnet-Adapter Station -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/MagnetAdapterStation40mL" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:ClippableAdapter} {ClippableAdapter}">
          <Parameters>
            <ParameterEntry name="ClippableAdapter" />
          </Parameters>
        </ModuleEntry>
        <!-- GLSciences CDCS -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/GLSLinexCDCS" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- Liner Injector -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/ILinerInjector" recursive="false" isTool="false" title="{ObjectName}" description="{ResxKey:LinerType} {LinerType}">
          <Parameters>
            <ParameterEntry name="LinerType" />
          </Parameters>
        </ModuleEntry>
        <!-- Injector -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IInjector" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- RobotArm -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IRobotArm" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- ParkStation -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IParkStation" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- IO Interface -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/IOInterface" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- IO Extension Module -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/IOExtensionModule" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- GC -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/GC" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- LC -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/LC" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- InputSignal -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/InputSignal" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- InputSignal -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/AnalogInputSignal" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- OutputSignal -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/type/OutputSignal" recursive="false" isTool="false" title="{ObjectName}" description="">
        </ModuleEntry>
        <!-- PlugInMachineObject -->
        <ModuleEntry queryAddress="pal://localhost/machineObject/capability/IPlugInObject" recursive="false" isTool="false" title="{ObjectName}" description="Controller:{ControllerAddress};{State}">
          <Parameters>
            <ParameterEntry name="ControllerAddress" />
            <ParameterEntry name="State" />
          </Parameters>
        </ModuleEntry>
      </ModuleEntries>
    </MainScreen>
    <KnobSpeed>
      <KnobUpdateInterval>100</KnobUpdateInterval>
      <ConstantFactorSpeedRange1>1</ConstantFactorSpeedRange1>
      <MaxFactorSpeedRange2>100</MaxFactorSpeedRange2>
      <MaxTimeSpeedRange3>20</MaxTimeSpeedRange3>
      <MinTimeSpeedRange3>2</MinTimeSpeedRange3>
      <MaxFactorSlowModeSpeedRange2>3</MaxFactorSlowModeSpeedRange2>
      <MaxFactorSlowModeSpeedRange3>20</MaxFactorSlowModeSpeedRange3>
    </KnobSpeed>
    <ScreenConfiguration enableDebuging="false" showCopyright="true" />
  </TerminalSettings>
</configuration>