<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ctc.Palplus.LocalTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Ctc.Palplus.CycleComposer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="User.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Ctc.Palplus.LocalTerminal.Properties.Settings>
      <setting name="host" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="showCopyright" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="transport" serializeAs="String">
        <value />
      </setting>
    </Ctc.Palplus.LocalTerminal.Properties.Settings>
    <Ctc.Palplus.CycleComposer.Properties.Settings>
      <setting name="GCName" serializeAs="String">
        <value />
      </setting>
      <setting name="TriggerType" serializeAs="String">
        <value />
      </setting>
      <setting name="VolumeFlowUnit" serializeAs="String">
        <value>mL/s</value>
      </setting>
      <setting name="VolumeUnit" serializeAs="String">
        <value>mL</value>
      </setting>
      <setting name="SpeedUnit" serializeAs="String">
        <value>mm/s</value>
      </setting>
      <setting name="LengthUnit" serializeAs="String">
        <value>mm</value>
      </setting>
      <setting name="PressureUnit" serializeAs="String">
        <value>bar</value>
      </setting>
      <setting name="TemperatureUnit" serializeAs="String">
        <value>°C</value>
      </setting>
      <setting name="TimeUnit" serializeAs="String">
        <value>s</value>
      </setting>
      <setting name="MassUnit" serializeAs="String">
        <value>g</value>
      </setting>
      <setting name="FrequencyUnit" serializeAs="String">
        <value>Hz</value>
      </setting>
      <setting name="ForceUnit" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="TorqueUnit" serializeAs="String">
        <value>Nm</value>
      </setting>
      <setting name="PowerUnit" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="CurrentUnit" serializeAs="String">
        <value>mA</value>
      </setting>
      <setting name="AngleUnit" serializeAs="String">
        <value>°</value>
      </setting>
      <setting name="AngularSpeedUnit" serializeAs="String">
        <value>rad/s</value>
      </setting>
      <setting name="AreaUnit" serializeAs="String">
        <value>mm2</value>
      </setting>
      <setting name="DeltaTemperatureUnit" serializeAs="String">
        <value>d°C</value>
      </setting>
      <setting name="PercentageUnit" serializeAs="String">
        <value>%</value>
      </setting>
      <setting name="StorageLocation" serializeAs="String">
        <value>unknown</value>
      </setting>
    </Ctc.Palplus.CycleComposer.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>