<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resource;Resource\Libs;Resource\Libs\PAL3;Resource\Libs\AutoIt3;Resource\Libs\SQLite;Resource\Libs\AForge;Resource\Libs\PTLumin;Resource\Libs\PTTekLink2G;Resource\Libs\ICF2;Resource\Libs\NModbus;Resource\Libs\NetModbus;" />
      <dependentAssembly>
        <assemblyIdentity name="TekLink2G.VocShared" publicKeyToken="null" culture="neutral" />
              <codeBase version="2.0.4526.25080" href="Resource\Libs\PTTekLink2G\TekLink2G.VocShared.dll" />  
        <!--
        <codeBase version="1.1.6578.20502" href="Resource\Libs\PTLumin\TekLink2G.VocShared.dll" />
              -->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
