<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="SystemFile"
            xsi:type="File"
            fileName="${basedir}\AnalystInLabControlLog\Analyst.log"
            layout="${date:format=MM-dd HH\:mm\:ss}|${level}|${message}"
            archiveFileName="${basedir}\AutoSamplerLog\archives\Analyst-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
        />
    </targets>
    <rules>
        <logger name="AnalystInLabControl" minlevel="Trace" writeTo="SystemFile"/>
    </rules>
</nlog>
