<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="SystemFile"
            xsi:type="File"
            fileName="${basedir}\AutoSamplerLoop\AutoSamplerLoop.log"
            layout="${date:format=MM-dd HH\:mm\:ss}|${level}|${message}"
            archiveFileName="${basedir}\AutoSamplerLoop\archives\AutoSamplerLoop-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
        />
        <target name="SystemTextBox" xsi:type="FormControl" append="false" controlName="SysLogTextBox" formName="MainForm" layout="${date:format=MM-dd HH\:mm\:ss}|${level}|${message}"/> 
    </targets>
    <rules>
        <logger name="System" minlevel="Debug" writeTo="SystemFile"/>
        <logger name="System" minlevel="Debug" writeTo="SystemTextBox"/>
    </rules>
</nlog>
